## PARAMETERS to reach the SOURCE DTR
export SRC_DTR_URL=
export SRC_DTR_USER=
export SRC_DTR_PASSWORD=
export SRC_NO_OF_ACCOUNTS=1000 #Default is 10
export SRC_NO_OF_REPOS=1000 #Default is 10

## PARAMETERS to reach the DESTINATION DTR
export DEST_DTR_URL=
export DEST_DTR_USER=
export DEST_DTR_PASSWORD=
